body{
    margin: 0;
    background-color: #f5ebe0;
    color: black;
    height: 190vh;
    overflow-x:hidden;
}

header{
    font-family: 'Gloock', sans-serif;
    font-size: 30px;
    margin: 0;
    height: 90vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 5s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.begin-button {
    display: inline-block;
    padding: 4px 90px;
    border: 1px solid black;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    background-color: #D6CCC2;
    transition:background-color 0.3s ease;
    font-family: 'Gloock'
}
.begin-button:hover{
    background-color: black;
    color:#f5ebe0;
    animation: bounce 1.0s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.main-content {
    font-family: 'Gloock', sans-serif;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto; 
}



.above-text {
    margin-bottom: -60px;
}

.circle-wrapper {
    position: relative;
}

.circle {
    position: relative; /* Keep it in the same position as you scroll */
    margin-top: -150px;
    left: 50%; /* Horizontally center */
    transform: translate(-50%, -50%); /* Correct offset for centering */
    display: flex; /* Center text inside the circle */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Adjust color if needed */
    font-size: 1rem;
    background-color: black; /* Circle background */
    border-radius: 50%; /* Makes it a circle */
    width: 600px; /* Initial size */
    height: 800px; /* Initial size */
    transition: font-size 0.2s ease, width 0.2s ease, height 0.2s ease; /* Smooth resizing */
}
